/* Hero Section */
.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(143, 13, 235), rgb(51, 139, 147));
  height: 100vh;
  width: 100vw;
  padding: 0;
  color: white;
  text-align: center;
}

:root.dark-mode .Hero {
  background: linear-gradient(to right, rgb(100, 10, 150), rgb(30, 80, 90));
}

.Hero h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  color: white;
}

.Hero h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 10px 0;
  color: white;
}

.Hero p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: white;
}
  