.Hero {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background:  rgb(182, 244, 146);
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    height: 100vh;
    width: 100vw;
    padding: 0;
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 4rem; 
    font-weight: 700; 
    margin: 0;
  }
  
  h2 {
    font-size: 2.5rem; 
    font-weight: 400;
    margin: 10px 0;
  }
  
  p {
    font-size: 1.5rem; 
    margin: 20px 0;
  }
  