/* Video Container */
.video-container {
  text-align: center;
  margin: 20px auto;
}

.video-container h2 {
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.video-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #1a56db;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
  cursor: pointer;
}

.video-link:hover {
  background-color: #007bff;
  color: white;
}
  